@import "tailwindcss";

@theme {
  --color-primary-dark: #1A0B2E;
  --color-primary-light: #3B1C5A;
  --color-gold-accent: #D4AF37;
  --color-gold-light: #F3E5AB;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Cinzel", serif;
}

body {
  @apply bg-primary-dark text-gray-100;
}